<h2 >Search Book</h2>
<form action="/books" method="GET">
  <div">
    <div >
      <label>Title</label>
      <input type="text" name="title" value="<%= searchOptions.title %>">
    </div>
  </div>
  <div >
    <div>
      <label>Published After</label>
      <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
    </div>
    <div >
      <label>Published Before</label>
      <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
    </div>
  </div>
  <div >
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<br>
<div>
<% books.forEach( book => { %> 
<a href="/books/<%= book.id %>" ><img height="150" width="100" src="<%= book.coverImagePath %>" title="<%= book.title %> <%= book.publishDate.toISOString().split('T')[0]%>"> 
</a>
<% }) %> 
</div>