<h2><%= book.title %></h2>
<div >
  <div>
    <img src="<%= book.coverImagePath %>">
    <div >
      <a  href="/books/<%= book.id %>/edit">Edit</a>
      <%- include('../partials/deleteForm', { url: `/books/${book.id}` }) %>
      <a class="btn btn-primary button" href="/authors/<%= book.author.id %>">View Author</a>
    </div>
  </div>
  <div >
    <div >Author:</div>
    <div><%= book.author.name %></div>
    <div >Publish Date:</div>
    <div><%= book.publishDate.toDateString() %></div>
    <div >Page Count:</div>
    <div><%= book.pageCount %></div>
    <div >Description:</div>
    <div><%= book.description %></div>
  </div>
</div>